Body {
  Font-family: Roboto;
  Margin: 0;
  Min-height: 100vh;
  Display: flex;
  Flex-direction: column;
}


.header_top {
  Background: #1F2937;
  Padding: 16px;
}

/* HEADER */
.header {
  color: #F9FAF8;
  Font-size: 24px;
}

.header_links {
  Display: flex;
  Justify-content: space-between;
}

/* LINKS */
Ul {
  List-style-type: none;
  Display: flex;
}

A {
  Text-decoration: none;
  Color: #E5E7EB;
  Font-size: 18px;
  Margin: 8px;
}





/* TOP */
.top {
  Display: flex;
  Justify-content: center;
  Color: white;
}


.main_text {
}



/* MIDDLE */
.middle {
  padding: 16px;
}

.middle_title {
  Display: flex;
  Justify-content: center;
}

.cards {
  Display: flex;
  Justify-content: space-around;
}



/* LOWER */
.lower {
   Background: #E5E7EB;
   Color: #1F2937;
   Font-size: 36px;
   Font-style: italic;
   Font-weight: light;
}



/* FOOTER */
.footer {
}





